
.conteiner {
    width: 95%;
    margin: 20px auto;
}

.content-l {
    height: 200px;
    
   
}
.brand-logo {
    margin-left: 20px;
}
ul li a{
    display: flex;
    align-items: center;
}
ul li a i {
    margin-right: 5px;
}
.smole {
    font-size: 12px;
    color: rgb(165, 165, 165);
}
.content-search {
    text-align: end;
}

.row img {
    height: 150px;
}

.block-m {
    margin-left: 5px;
    padding: 0px 5px;
    background-color: #5aa4ee;
    color: white;
}
.row .col.s2 {
    padding: 0;
}

.pos img {
    margin: 10px 0;
}
.active {
    background-color: rgb(218, 231, 255);
}
.active-l {
    background-color: rgb(27, 93, 216);
}
.card-action {
    margin: 10px 0;
   
}
.card-pos {
    border-bottom: 1px solid silver;
}

.content-mine {
    padding: 0;
}

.row .col {
    padding: 0;
}


.avatar:hover{
    background-color: rgb(48, 110, 224);
    color: white;
}
.title {
    display: flex;
    justify-content: space-between;
}
.new-pos {
    color: rgb(59, 59, 214);
}

.avatar:hover .new-pos {
    color: white;
}

.letter {
    display: flex;
}
.letter span {
    margin-right: 15px;
}
.no-bor {
    border: none;
}
.collection .collection-item {
    border-bottom: 0;
}